*.iml
.gradle
/local.properties
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# IDE
.idea/
.kotlin/

# Eclipse/Buildship
.project
.settings/

# Google Services File
/app/google-services.json